    <div class="infoContainer">
      <img class ='infoBox' src='{{image}}' alt="{{name}}">
      <h2>{{name}}</h2>
      <div>Location: {{location}}</div>
      <div>Description: {{description}}</div>
      <div> Checkout their website! {{url}}</div>
    </div>
  </body>
