    <div class="infoContainer">
      <img class ='infoBox' src='{{image}}' alt="{{name}}">
      <h2>{{name}}</h2>
      <div>
        <h3>location:</h3> {{location}}
      </div>
      <div>
        <h3>Description:</h3> {{description}}
      </div>
      <div> 
        <h3>Go to their website!</h3> {{url}}
    </div>
  </body>