    <div class="infoContainer">
      <img class ='infoBox' src='{{image}}' alt="{{name}}">
      <h2>{{name}}</h2>
      <div>location: {{location}}</div>
      <div>Description: {{description}}</div>
      <div> Go to their website! {{url}}</div>
    </div>
  </body>