<div>
  <header>
    <h1>Places - Home</h1>
    </header>
</div>
<div class='container wrap'>
    <ul class='flexContainer wrap'>
      {{#each places}}
      <div class='flexItem'>
        <a href ='/places/{{id}}'><img src='{{image}} ' alt='{{name}}'></a>
        <div class="overlay">
          <p>{{name}}</p>
          <small>{{location}}</small>
        </div>
      </div>
      {{/each}}
    </ul>
  </div>